#logo-div {
  height: 50%;
  display: flex;
  align-items: center; // vertical
  justify-content: center; // horizontal

  h3, p{
      text-align: center;
  }

  img {
      max-width: 150px;
      width: auto;
      height: auto;
  }
}
